.direction-ltr{
    direction: ltr;
}
.direction-rtl{
    direction: rtl;
}
.alert-loading{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;

    text-align: center;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    direction: ltr;
}
.font-size-24 {
    font-size: 24px !important;
}
.w-div-49, .w-div-32, .w-div-24, .w-div-22 {
    flex-wrap: wrap;
}

.w-div-49 > div {
    width: 49%;
}

.w-div-32 > div {
    width: 32%;
}

.w-div-24 > div {
    width: 24%;
}

.w-div-22 > div {
    width: 22%;
}
.myAd{
    position: relative;
}
.myAd div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 0 5px;
}
.myAd div span{
    background: rgba(0, 0, 0, 0.54);
    color: white;
    font-size: 13px;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid blue;
}
