.sidebar__setting {
    width: 250px;
    background: #fff;
    height: 100%;
    position: fixed;
    transition: all 200ms ease;
    left: -250px;
    bottom: 0;
    z-index: 212;
    top: -1px;
    overflow-y: auto;
    scrollbar-color: #a7a7a7 #c3bebe;
    scrollbar-width: thin;
}
.box-shadow {
    -webkit-box-shadow: 0 30px 108px #e4e8f0;
    box-shadow: 0 30px 108px #e4e8f0;
}
.left-0{
    left: 0;
    transition: all 200ms ease;
}
.chk{
    width: 15px !important;
    height: 15px !important;
}

.alc-center {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.jsc-start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.jsc-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.jsc-center {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.jsc-space-between {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.sidebar__setting .card-header{
    background: #2f3537;
    color: white;
}

.add::before{
    content: '+';
    font-size: small;
    margin-left: 5px;
    text-shadow: 2px 2px #595656;
}
.item-checkouts::before{
    content: "\E0e5";
    font-size: 20px;
    color: #636e72;
    cursor: pointer;
}
.flex-direction{
    flex-direction: row;
}
.post-details{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    flex-direction: row;
}
.table_ad .td-ad-img{
    width: 268px;
    height: 188px;
}
.table_ad .td-ad-img img{
    width: 100%;
    height: 100%;
}
.table_ad .td-ad-img span{
    float: left;
    margin-top: 10px;
}
.table_ad .td-ad-info{
    text-align: right;
}
.table_ad td p{
    line-height: unset;
    font-size: .9rem;
}
.table_ad td .btn{
    border-radius: 3px;
}
.border-radius-0{
    border-radius: 0;
}
.h-fit-content {
    height: fit-content;
}
.title_h2 {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3;
    color: #030a17;
    margin-top: 0;
    margin-bottom: 1.5em;
}
.submenu{
    padding: unset !important;
    border-radius: 5px;
    background: white;
}
.submenu_hover{
    display: block;
    position: absolute !important;
    width: 100%;
    left: -100%;
    top: 0;
    border: 1px solid #e2e2e2;
}
.overflow-y-unset{
    overflow-y: unset;
}
.submenu div a{
    padding: 5px 15px !important;
    display: flex;
    align-items: center;
    color: #444 !important;
    background: transparent !important;
    transition: all ease 200ms;
}
.submenu div a:hover{
    /*color: #2b4a83 !important;*/
    color: #0f61fa !important;
    transition: all ease 200ms;
}
.submenu div a::before{
    content: unset !important;
}
.submenu div a i{
    font-size: 16px;
    margin-left: 10px;
}
.submenu div a i::before{
    font-weight: bold !important;
}
.submenu div a.is-active{
    color: #0f61fa !important;
}
.submenuLink{
    transition: all ease 200ms;
}
.submenuLink:hover{
    margin-right: 10px;
    transition: all ease 200ms;
}
.box_img{
    height: 226px;
    padding: 0;
}
.box_img img{
    height: 100%;
    border-radius: 5px;
    margin-top: 0 !important;
}
.box-reply p{
    border-bottom: 1px solid;
}
.box-reply p:last-child{
    border-bottom: unset;
}
.box-img img{
    width: 100%;
    height: 200px;
    border: unset;
    border-radius: 5px !important;
}
