.c-header__left {
    width: unset;
    -ms-flex: unset;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex: unset;
    height: auto;
    position: absolute;
    left: 15px;
    top: 30px;
}

.c-header__right {
    flex-wrap: wrap;
}

.c-header__icons {
    display: flex;
}

.c-header__row .c-button__login-regsiter {
    display: none;
}

.nav .c-button__login-regsiter {
    display: flex !important;
    justify-content: center;
    margin: 30px 0;
}

.c-search {
    display: none;
}

.nav__ul {
    flex-direction: column;
}

.nav__item, .container--nav {
    padding: unset !important;
    width: 100% !important;
}

.container--responsive {
    width: 100% !important;
}

.nav__sub {
    position: unset !important;
    border: unset !important;
    /*background-color: #f5f5f5;*/
}

.under__menu_sidebar .nav__link{
    background: unset !important;
}

.nav__link {
    display: block;
    width: 100%;
    padding-right: 15px;
    line-height: 45px;
    border-bottom: 1px solid #dad6d6;
}

.nav__sub .nav__link:first-child {
    padding-right: 30px !important;
}

.nav__sub .nav__link {
    padding: 0 30px 0 0 !important;
}

.nav__sub .nav__link:hover {
    background: #46b2f0;
    color: #fff !important;
}

.nav__item--has-sub::before {
    content: unset;
    display: none;
}

.nav__item--has-sub {
    position: relative;
}

.nav__item--has-sub > .nav__link::before {
    content: '';
    position: absolute;
    /*background: #474747;*/
    /*background: rgb(255, 193, 7);*/
    background: white;
    width: 10px;
    height: 2px;
    top: 21px;
    left: 30px;
    transition: transform 200ms ease;
}

.nav__item--has-sub > .nav__link::after {
    content: '';
    position: absolute;
    /*background: #474747;*/
    /*background: rgb(255, 193, 7);*/
    background: white;
    width: 2px;
    height: 10px;
    top: 17px;
    left: 34px;
    transition: transform 200ms ease;
}

.nav__item--has-sub:hover > .nav__link::before, .nav__item--has-sub:hover > .nav__link::after {
    transform: rotate(45deg);
    transition: transform 200ms ease;
    /*background: #46b2f0;*/
    background: rgb(255, 193, 7);
}

.c-header__icons--is-active:before {
    content: '\e039';
    font-size: 18px;
    /*color: #46b2f0;*/
    color: rgb(255, 193, 7);
    cursor: pointer;
    transform: rotate(90deg);
    display: block;
    margin-top: -2px;
}

.c-header__icons--is-active:before {
    content: '\e042';
    font-size: 29px;
    /*color: #46b2f0;*/
    color: rgb(255, 193, 7);
    cursor: pointer;
    display: block;
    margin-top: -10px;
    margin-left: -5px;
}

.c-search--is-active {
    display: unset !important;
    margin: 15px 0;
}

.nav--is-acitve {
    transform: translateX(0%) !important;
}

.nav {
    width: 60% !important;
    min-width: 260px;
    z-index: 201;
    left: unset !important;
    height: 100%;
    bottom: 0;
    border-left: 1px solid #ddd;
    transform: translateX(110%);
    overflow: auto;
    background: rgb(41, 41, 41);
}
.nav__item .nav__link {
    color: #ffffff;
}

.overlay {
    position: fixed;
    right: 0;
    top: 0;
    border-left: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 90;
    background-color: rgba(74, 74, 74, .43);
    pointer-events: none;
    opacity: 0;
    transition: opacity 170ms;
}

.overlay--is-acitve {
    opacity: 1 !important;
    transition: opacity 170ms;
}

.articles__item {
    width: calc(50% - 20px);
    flex: 0 0 calc(50% - 20px);
}

.footer__link {
    max-width: 50%;
    flex: 0 0 50%;
}

@media (max-width: 768px) {
    .articles__item {
        max-width: calc(100%);
        flex: 0 0 calc(100%);
    }

    .footer__link {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .footer__about {
        max-width: 90% !important;
    }
    .sign-page__form{
        max-width: 100% !important;
    }

    /*__my__*/
    .navbar__action{
        display: none;
    }
    .navbar__action-response{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .sign-page{
        margin-top: 0;
    }
    .nav{
        background: rgb(41, 41, 41);
    }
    .color__transparent{
        color: white !important;
    }
}

@media (max-width: 480px) {
    .comments__avatar {
        display: none;
    }

    .comments__details {
        margin: 0 !important;
    }

    .comments__subset {
        margin-right: 20px;
    }
}
/**********************__my2__**************************/
@media (max-width: 768px) {
    body{
        /*background-image: url("../image/carton2-1.jpg");*/
        /*background-position: left top;*/
        /*background-size: cover;*/
        /*background-repeat: no-repeat;*/
        /*background-attachment: scroll;*/
        /*background: #dbd6d6;*/
        /*background: #bfc4ca;*/
    }
    .bg-carton{
        background-size: 100%;
        height: unset;
        /*Background-attachment: unset;*/
    }
    .box__date{
        padding-top: 120px;
        margin-bottom: 100px;
    }
    .quickAccess{
        /*background: #dbd6d6;*/
        background: #bfc4ca;
    }
    .quickAccess ul{
        font-size: 13px;
    }
    .footer__item {
        max-width: 50%;
        width: 100%;
        text-align: right;
    }
    .post_container{
        margin: 27% auto 0 auto;
    }
    .sidebar{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .logo__img{
        font-size: 14px;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: start;
    }
    .bg-carton {
        background-size: 100%;
        height: unset;
    }
    .box__date{
        font-size: 16px;
        width: 200px;
        padding-top: 61%;
        margin-bottom: unset;
    }
    .box__date .date{
        padding: 2px;
    }
    .box__date .time{
        margin-top: 1.3rem;
    }
    .box__date .time div{
        display: inline-flex;
        width: 50px;
        height: 60px;
    }
    .quickAccess{
        padding: unset;
        padding-top: 20px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 13px;
    }
    .quickAccess ul{
        flex-direction: column;
    }
    .quickAccess ul li{
        padding: 0 0 10px 0;
        border-left: unset;
    }
    .footer__item {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
    .footer__link {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .footer__link, .footer__link-sub{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        max-width: unset;
    }
}

@media (max-width: 400px) {
    .bg-carton{
        margin-top: 74px;
        background-attachment: unset;
    }
    .box__date{
        padding-bottom: unset;
    }
    .quickAccess{
        padding-top: unset;
    }
    .event__portal_responsive{
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .header__dropdown:before{
        left: unset;
        right: 63px;
    }
    .container_slider_content{
        margin-right: 10%;
        margin-left: 10%;
    }
    .service_btn > div{
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.container_slider_content{
    flex-direction: column;
}
.container_slider_content > div{
    width: 100% !important;
}
.service_btn{
    margin-top: 50px;
}





